<!--
 * @Author: xinyuHu hxyrkcy@outlook.com
 * @Date: 2025-11-11 18:02:23
 * @LastEditors: xinyuHu hxyrkcy@outlook.com
 * @LastEditTime: 2025-11-12 20:57:52
 * @FilePath: \wenaili\modules\@apostrophecms\home-page\views\page.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
{# This is an example home page template. It inherits and extends a layout
template that lives in the top-level views/ folder for convenience #} {% extends
"layout.html" %} {% block main %}

<!-- 联系我们 -->
{% area data.page, 'main' %} 
{% endblock %}
