{% if data.config.type == 'pie' or data.config.type == 'doughnut' %}
  {# 饼图/圆环图：响应式尺寸，类似 Recharts 的 ResponsiveContainer #}
  <div data-graph-canvas-wrapper data-chart-data="{{ data.config | jsonAttribute }}" class="h-80 flex items-center justify-center" style="position: relative;">
    <canvas id="{{ data.target }}"></canvas>
  </div>
{% else %}
  {# 其他图表类型：响应式尺寸 #}
  <div data-graph-canvas-wrapper data-chart-data="{{ data.config | jsonAttribute }}" class="h-80" style="position: relative;">
    <canvas id="{{ data.target }}"></canvas>
  </div>
{% endif %} 