{% set baseClass = 'chart-widget__canvas-wrapper relative w-full h-full min-h-[20rem]' %}
{% if data.config.type == 'pie' or data.config.type == 'doughnut' %}
  {# 饼图/圆环图：响应式尺寸，类似 Recharts 的 ResponsiveContainer #}
  <div data-graph-canvas-wrapper data-chart-data="{{ data.config | jsonAttribute }}" class="{{ baseClass }} flex items-center justify-center">
    <canvas id="{{ data.target }}" class="chart-widget__canvas w-full h-full"></canvas>
  </div>
{% else %}
  {# 其他图表类型：响应式尺寸 #}
  <div data-graph-canvas-wrapper data-chart-data="{{ data.config | jsonAttribute }}" class="{{ baseClass }}">
    <canvas id="{{ data.target }}" class="chart-widget__canvas w-full h-full"></canvas>
  </div>
{% endif %}